In [4]:
import pandas as pd
import random
import string

In [6]:
letters = string.ascii_lowercase

pd.DataFrame(
    {
        'col1':[random.randint(0,500) for _ in range(100)],
        'col2':[''.join(random.choice(letters) for i in range(10)) for _ in range(100)]
    }
)

    col1        col2
0    209  glnlcydmbe
1    130  kbzzogligd
2    449  vqlnabhdsh
3    172  gcvrndwmmx
4    489  ivihqohyzw
..   ...         ...
95   110  jgcihjvwhz
96   323  qudoxuvnjy
97   106  zcterwztlp
98   250  swgxzyvwqi
99   260  ezqpvhtcfi

[100 rows x 2 columns]